@use "sass:map";

$rk-breakpoints: (
    md: 768px,
    lg: 1200px
);

@mixin mq($name) {
    $value: map.get($rk-breakpoints, $name);

    @if $value == null {
        @error "Unknown breakpoint: #{$name}";
    }

    @media (min-width: $value) {
        @content;
    }
}
