$rk-slate-50: rgb(248 250 252);
$rk-slate-100: rgb(241 245 249);
$rk-slate-200: rgb(226 232 240);
$rk-slate-300: rgb(203 213 225);
$rk-slate-600: rgb(71 85 105);
$rk-slate-700: rgb(51 65 85);
$rk-slate-800: rgb(30 41 59);
$rk-slate-900: rgb(15 23 42);

$rk-info-500: rgb(2 132 199);
$rk-info-600: rgb(3 105 161);
$rk-info-700: rgb(7 89 133);

$rk-danger-100: rgb(254 226 226);
$rk-danger-700: rgb(185 28 28);

$rk-border-muted: rgb(228 228 231);
$rk-border-soft: rgb(212 212 216);
